#include "secrets.h"
#include <Arduino.h>

const char* ssid = "Nome da Rede WiFi";
const char* password = "Senha da Rede WiFi";

//============================
// Debug
//============================
// 0 = sem mensagens
// 1 = apenas erros
// 2 = todas as mensagens
const int DEFAULT_DEBUG_LEVEL = 2;

// 4 = Pino utilizado para forçar todas as mensagens na inicialização
const int PINO_HABILITA_DEBUG_COMPLETO = 4;

//============================
// Mqtt
//============================


const char* MQTT_BROKER = "Endereço do Broker MQTT";
const int MQTT_PORTA = 8883;

const char* MQTT_CLIENT_ID = "ID do Cliente";

const char* MQTT_USER = "Usuário MQTT";
const char* MQTT_PASSWORD = "Senha MQTT";

const bool MQTT_USE_TLS = false;

const char MQTT_CERTIFICADO_CA[] PROGMEM = "";

//============================
// TOPICOS
//============================

const char* TOPICOS_PUBLICAR[] = 
{
    "TOPICOS PARA PUBLICAÇÃO"
};

const int TOTAL_TOPICOS_PUBLICAR = sizeof(TOPICOS_PUBLICAR) / sizeof(TOPICOS_PUBLICAR[0]);

const char* TOPICOS_RECEBER[] =
{
    "TOPICOS PARA RECEBER"
};

const int TOTAL_TOPICOS_RECEBER = sizeof(TOPICOS_RECEBER) / sizeof(TOPICOS_RECEBER[0]);

//============================
// AWS
//============================

const bool USE_AWS_IOT = true;

const char* AWS_IOT_CLIENT_ID = "ID do Cliente AWS IoT";

const char AWS_CERT_CA[] PROGMEM = R"EOF(
-----BEGIN CERTIFICATE-----

-----END CERTIFICATE-----
)EOF";

const char AWS_CERT_CRT[] PROGMEM = R"EOF(
-----BEGIN CERTIFICATE-----

-----END CERTIFICATE-----
)EOF";

const char AWS_CERT_PRIVATE[] PROGMEM = R"EOF(
-----BEGIN RSA PRIVATE KEY-----

-----END RSA PRIVATE KEY-----
)EOF";

const char* AWS_IOT_ENDPOINT = "Endpoint AWS IoT";

const int AWS_IOT_PORT = 8883;

